body{
    background-image: url('./caderno-caneca-codificacao-169573.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-x: hidden;
    background-color: black;    
    font-family: 'Indie Flower', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Acme', sans-serif;
    margin-bottom: 1%;
    
}
.back{
background-image: url('../img/chaves-computador-portatil-internet-60626.jpg');
background-repeat: repeat;
background-size: 100%;
overflow-x: hidden;
margin-top: 1%;
}

.h1{
    position: relative;
    margin-top:15%;
    text-align: center;
    color: rgb(9, 9, 10);
    font-family: monospace;
    overflow: hidden; 
    white-space: nowrap; 
    letter-spacing: .15em; 
    animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(17, 16, 15) }
}


h1{
    font-size: 2em;
    text-shadow: 0.1em 0.1em #2f2da594;
    
    
}



.social {
    margin:12%  35% auto 35%;
    display: flex;
    justify-content: space-between;
    
}
.social i:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.social i{
    zoom: 4;
    color: rgb(15, 12, 12);
    text-shadow: 0.1em 0.1em #2f2da594;
    
}



.cont {
    color:rgb(241, 233, 233);
    font-size: 25px;
    margin: 2% 20% auto 20%;
    border: 2px solid rgb(14, 13, 13);
    border-radius: 1px;
    padding: 1%;
    box-shadow: 5px 7px 2px 0px rgb(10, 10, 10);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.548);
    
}

.slid {
    margin-left: 25%;    
    width: 350px;
    
}

.cont:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }


  .front{
      display: flex;
      flex-direction: column;
      color: rgb(240, 224, 224);
      padding: 3%;
      border: 1px solid white;
      border-radius: 1px;
      margin: 17% 25% auto 25%;
      box-shadow: 5px 7px 2px 0px white;
      background-color: rgba(0, 0, 0, 0.548);
      margin-bottom: 10%;  
      font-size: 15px;

  }


  .front:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }



  h2 {
      font-size: 40px;
      margin-left: 30%;
  }

  hr{
      width: 30%;
  }


        /* All Mobile Sizes (devices and browser) */
        @media only screen and (max-width: 767px) {
            .h1  {
                font-size: 9px;
                margin:0 auto;
                margin-right: 2%;
            }
            .slid {
                margin:0 auto;
                margin-left: 0 auto;    

            }
            .cont #is{
                width: 150px;

            }
            
           #is{
                width: 150px;
            }
        }

        /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
        @media only screen and (min-width: 480px) and (max-width: 767px) {
            .h1 {
                font-size: 7px;
                margin:0 auto;
                margin-right: 2%;
    
            }
            .slid {
                margin:0 auto;
                margin-left: 0 auto;    

            }
            .cont #is{
                width: 150px;

            }
            #is {
                width: 150px;
            
            }
        }

        /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
        @media only screen and (max-width: 479px) {
            .h1 .social {
                font-size: 7px;
                margin:0 auto;
                margin-right: 2%;
            }
            .slid{
                margin:0 auto;
                margin-left: 0 auto;    
            }
            .cont img{
                width: 150px;

            }
            #is {
                width: 150px;
            }
        }

        @media screen and (max-width: 1024px) {
            .h1 .social {
                font-size: 14px;
                margin:0 auto;
                margin-right: 2%;
            }
          

        }

        @media screen and (min-width: 1250px) {
            body {
                margin: 0 auto;

            }
        }

        .tree li a {
            border: none;
            padding: 0;
            margin: 0;
        }

        .tree li a:hover,
        .tree li a:hover+ul li a {
            background: none;
            border: none;
        }

        /*Connector styles on hover*/
        .tree li a:hover+ul li::after,
        .tree li a:hover+ul li::before,
        .tree li a:hover+ul::before,
        .tree li a:hover+ul ul::before {
            border-color: #6C7A89;
        }

        .tree .init:before {
            border: none;
        }

        
        }
  
