body{
    background-image: url('./caderno-caneca-codificacao-169573.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-x: hidden;
    background-color: black;    
    font-family: 'Indie Flower', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Acme', sans-serif;
    margin-bottom: 1%;
    
}
.back{
background-image: url('./chaves-computador-portatil-internet-60626.jpg');
background-repeat: no-repeat;
width: 100%;
background-size: 100%;
overflow-x: hidden;
margin-top: 1%;
}

.h1{
    position: relative;
    margin-top:15%;
    text-align: center;
    color: rgb(9, 9, 10);
    font-family: monospace;
    overflow: hidden; 
    white-space: nowrap; 
    letter-spacing: .15em; 
    animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(17, 16, 15) }
}


h1{
    font-size: 100px;
    text-shadow: 0.1em 0.1em #2f2da594;
    
    
}



.social {
    margin:12%  35% auto 35%;
    display: flex;
    justify-content: space-between;
    
}
.social i:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.social i{
    zoom: 4;
    color: rgb(15, 12, 12);
    text-shadow: 0.1em 0.1em #2f2da594;
    
}



.cont {
    color:rgb(241, 233, 233);
    font-size: 25px;
    margin: 4% 20% auto 20%;
    border: 2px solid rgb(14, 13, 13);
    border-radius: 1px;
    padding: 1%;
    box-shadow: 5px 7px 2px 0px rgb(10, 10, 10);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.548);
    
}

.slid {
    margin-left: 25%;    
    width: 350px;
    
}

.cont:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }


  .front{
      display: flex;
      flex-direction: column;
      color: rgb(240, 224, 224);
      padding: 3%;
      border: 1px solid white;
      border-radius: 1px;
      margin: 17% 25% auto 25%;
      box-shadow: 5px 7px 2px 0px white;
      background-color: rgba(0, 0, 0, 0.548);
      margin-bottom: 10%;  
      font-size: 15px;

  }


  .front:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }



  h2 {
      font-size: 40px;
      margin-left: 30%;
  }

  hr{
      width: 30%;
  }

   
@media   (max-width: 675px) and (max-width:1024px){
.h1, .cont,{
    width:100%;
    left: 0 auto;
    
}  
h1{
    font-size:35px;

 }
.h1 ul{
    color:white;
    }
     
.slid {
    margin-left: 0 auto; 
    align-items: center;
    width: 200px;
    
}
.social i{
    zoom: 2;
}

.infor{
    font-size: 15px;
}

}




@media   (max-width: 375px) and (max-width:667px){
    .h1, .cont,{
        width:100%;
        left: 0 auto;
    }  
    h1, ul, h2{
        font-size:25px;
        text-align: center;
    
     }
     
    .back{
         display: none;
     }      
    .slid {
        margin-left: 0 auto;
        align-items: center;
        width: 150px;
        
    }
    .cont{
         margin: 10% auto auto auto;   
          }
    .social i{
        zoom: 2;
        position: absolute;
        top: 15vh;
    }
    
    .infor{
        font-size: 15px;
    }
    .front{
        font-size: 25px;
    }
    
    }
